body {
    background-color: rgb(244, 196, 255);
}
footer {
    background-color: rgb(98, 20, 100);
    color: white;
    bottom:0;
    position:fixed;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    height:2rem;
   margin-top: 0,5rem;
}
